.btn {
  height: 50px;
  padding: 0 30px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #ffffff;
  line-height: 50px;
  background-color: $primary;
  border-radius: 25px;
  &:hover {
    opacity: .6;
  }
}
.btn-sub {
  font-size: 1.25rem;
  color: $primary;
  background-color: rgba(0,0,0,0);
}